*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    height: 50px;
    width: 50px;
}
.board{
    width: 150px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
.gohistory{
    list-style: none;
}